
#fo {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 67px;
    padding-left: 474px;
    padding-right: 15px;
    padding-top: 53px;
    margin: -158px;
}



/*body{*/
/*    background: url("devushka-blondinka-les-1.jpg");*/
/*    background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*max-height: 100vh;*/
    /*min-height: 1080px;*/


