ul{
    decoration: none;
}

#fo {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 67px;
    padding-left: 357px;
    padding-right: 15px;
    padding-top: 53px;
    margin: -158px;
}
#fo:hover{
    color: #e06b00;
}
#d1{
    background: #ff8800;
    padding: 8px;
    color: #ffffff;
    width: 89px;
    top: 60px;
    position: absolute;
    font-weight: bold;
    border-radius: 6px;
    left: 203px;
    decoration: none;
}
#d1:hover{
    color: #c4c4c4;
}
А


/*body{*/
/*    background: url("devushka-blondinka-les-1.jpg");*/
/*    background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*max-height: 100vh;*/
    /*min-height: 1080px;*/


